body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    color: #303032;
}

/*
    Put styles here in this file that is reusable just like the footer
    or IDK, it's up to you I don't care just don't mess with the other styles...
    finding and fixing the problem is quite hard for CSS

    just be sure to create another CSS file for different HTML files
    and name that CSS file like AboutStyle.css or OnSaleStyle.css
*/


.slash {
    text-decoration: line-through;
    color: #A2A2A8;
}


/* Style for all product items */

.item-holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
}

.item {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    transition: 0.2s;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgba(0, 0, 20, 0.1);
    border: 1px solid black;
}

.item:hover{
    outline: 1px solid black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 20, 0.5);
}

.item img {
    height: 200px;  
    border-radius: 5px;
}

.item .discount {
    background-color: #E92255;
    color: white;
    font-weight: bold;
    top: -6px;
    left: 0px;
    padding: 5px 10px;
    position: absolute;
    border-radius: 0 15px 15px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.item .details i {
    float: right;
    scale: 3;
    margin-right: 15px;
    margin-top: 3px;
    color: gray;
    transition: 0.15s;
}
.item .details i:hover {
    color: black;
}

.item .details p,
.item .details h3 {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.item .details p {
    font-weight: 600;
}

.item .star-container {
    margin: 0;
    margin-top: -5px;
    display: flex;
    align-items: center;
}
.item .star-container i {
    font-size: 16px;
    padding: 0;
    margin: 0;
}






/* Button Style for the "GoUp" */

.goUp {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.0;
    pointer-events: none;

    width: 50px;
    height: 50px;
    position: fixed;
    background-color: #25252F;
    border-radius: 100px;
    font-size: 40px;
    color: white;
    transition: 0.1s;

    top: 85%;
    right: 2%;
    z-index: 5;
}

.goUp:hover {
    background-color: #303035;
}

.showGoUp {
    opacity: 1.0;
    pointer-events: auto;
    transition: 0.2s;

}






/* Footer styles */

footer {
    background-color: #05050F;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    color: darkgrey;
}

footer a {
    color: darkgrey;
}

footer h2 {
    font-family: "Lexend Deca";
    color: white;
}

footer .page-links {
    display: flex;
    gap: 20px;
}

footer .page-links a {
    padding: 15px 15px;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.15s;
}

footer .social-links {
    display: flex;
    gap: 20px;
}

footer .social-links a {
    padding: 10px 15px;
    font-size: 35px;
    border-radius: 10px;
    transition: 0.15s;
}

footer .page-links a:hover, 
footer .social-links a:hover {
    background-color: #121219;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .right {
    width: 100%;
  }
}
@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}